{# templates/copyright/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}{{ 'legal.copyright'|trans }}!{% endblock %}

{% block body %}
    Copyright & Trademark(s) Page
{% endblock %}
