{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" ;=";" charset="utf-8"/>
    <!-- | Important for Responsive | -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        {{ 'site.title'|trans }} - {{ 'site.tagline'|trans }}
      {% endblock title %}
    </title>

    {% block stylesheets %}
      <!-- Google Fonts CSS -->
      <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

      <!-- FontAweSome min CSS -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

      <!-- Our CSS -->
      <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet"/>

    {% endblock stylesheets %}
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}"/>
  </head>
  <body>

    <div id="blog" class="container">
      <!--|| Locale Switch ||-->
      <br/>
      <div class="row">
        <div class="col-xs-3 col-sm-1 col-md-1 col-xs-offset-6 col-sm-offset-10 col-md-offset-10">
          <a href="/en" class="thumbnail">
            <img src="{{ asset('images/flags/us.png') }}" alt="english">
          </a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1">
          <a href="/de" class="thumbnail">
            <img src="{{ asset('images/flags/de.png') }}" alt="german">
          </a>
        </div>
      </div>

      {% block header %}
        <div class="row">
          <div class="col-md-12">
            <header id="header">
              <hgroup>
                <h2>
                  {% block blog_title %}
                    <a href="{{ path('homepage') }}"><img src="{{ asset('images/sunburst-logo-md.png') }}"/></a>
                  </img>
                {% endblock blog_title %}
              </h2>
              <h3>
                {% block blog_tagline %}
                  <a href="{{ path('homepage') }}">{{ 'site.tagline'|trans }}</a>
                {% endblock blog_tagline %}
              </h3>
            </hgroup>
          </header>
        </div>
      </div>
    {% endblock header %}

    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'nav.home'|trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
              <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="{{ path('about') }}">{{ 'nav.about'|trans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('contact') }}">{{ 'nav.contact'|trans }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('search') }}">{{ 'nav.search'|trans }}</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>
    {% endblock navbar %}

    <div class="card card-default">

      <div class="card-body">
        <div class="container-fluid">

          <!--|| The content of the Homepage will be here ||-->
          <section class="main-col">
            {% block body %}{% endblock body %}
          </section>
          <!--|| The content of the Sidebar will be here ||-->
          <aside class="wrapper sidebar">
            {% block sidebar %}{% endblock sidebar %}
          </aside>

        </div>
      </div>
      {% block footer %}
        <!--|| Share in social networks the page that the user is reading ||-->
        <div class="card-footer">

          <div id="socialNetworks" class="text-center">
            <a id="shareFB" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
              <i class="fab fa-facebook-f fa-2x" alt="Share on Facebook"/>
            </i>

            <a id="shareTW" target="_blank" href="http://twitter.com/home?status={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
              <i class="fab fa-twitter fa-2x" alt="Share on Twitter"/>
            </i>
          </div>
          <div id="footerInfo" class="text-center">

            <a href="https://gitlab.com/Spacewax/sunburst.git" target="_blank">Sunburst CMS</a> &copy; 2017-{{ "now" | date("Y") }}
            <a href="hyperclock@unicorn-blog.org">JMColeman</a>.
            <br><small>
            <a href="{{ path('terms') }}">{{ 'legal.imprint'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{{ path('disclaimer') }}">{{ 'legal.disclaimer'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{{ path('policy') }}">{{ 'legal.policy'|trans }} </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{{ path('copyright') }}">{{ 'legal.copyright'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{{ path('imprint') }}">{{ 'legal.imprint'|trans }}</a>
          </small>

          </div>
        </div>
      {% endblock footer %}
    </div>

    {% block javascripts %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

      <!-- FontAweSome JS -->
      <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>

    {% endblock javascripts %}

  </div>

</body>
</html>
